
    body {
/*        background black*/
     background-color: black;
    }
/*center all divs*/
          div{
    width: 40%;
display:block;
margin: 0px auto;
 
    }
    
    div image{
        vertical-align: top;
        float: top; 
    }
/*keep nav fixed on scroll*/
     .navbar {
    position: fixed; 
    bottom: 0; 
    width: 10%; 
}

/* Main content */
.main {
    margin-bottom: 30px;
}   
/*button hover animation*/
          a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
     text-decoration: none;
}
a:hover, a:focus, a:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
} 
